.box-dialog  {
	background-color: white;
	margin: auto;
	position: fixed;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	display: none;
	z-index: 2;
	padding: 0 15px 15px 15px;
}
.box-dialog-header {
	background-color: #0a409a;
	position: relative;
	min-height: 38px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: -15px;
	margin-right: -15px;
}
.box-dialog-header .dialog-title {
	font-size: 25px;
	display: block;
	width: calc(100% - 50px);
}
.box-dialog-header .btn-cancel {
	border-radius: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.dark-background {
	display: none;
	position: fixed;
	top: 0;
	background-color: #0000005c;
	height: 100%;
	width: 100%;
	z-index: 1;
}